__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.DS_Store
outputs/
checkpoints/
ckpt*/
data/scannet/scannet_data/
data/scannet/scans/
data/*filtered*
data/nr3d_train.*
data/nr3d_val.*
data/*.csv
*.pth
*.pt
*.hdf5
